In [1]:
import pandas as pd
import numpy as np
cancer = pd.read_table("cancer.data", sep = ",",header = 0, names= ["Class", "Age", "Menopause","TumorSize", "invnodes", "Nodecaps", "Degmalig", "Breast", "Breastquad", "Irradiate"] )
cancercopy2 = cancer.copy()
cancercopy2.head(207)

,Class,Age,Menopause,TumorSize,invnodes,Nodecaps,Degmalig,Breast,Breastquad,Irradiate
0,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
2,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
3,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
4,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
...,...,...,...,...,...,...,...,...,...,...
202,recurrence-events,50-59,ge40,35-39,0-2,no,2,left,left_low,no
203,recurrence-events,50-59,premeno,25-29,0-2,no,2,left,right_up,no
204,recurrence-events,30-39,premeno,0-4,0-2,no,2,right,central,no
205,recurrence-events,50-59,ge40,30-34,0-2,no,3,left,NaN,no
206,recurrence-events,50-59,premeno,25-29,0-2,no,2,left,right_up,no

In [2]:
cancercopy2.Breastquad.value_counts()

left_low     109
left_up       97
right_up      33
right_low     24
central       21
Name: Breastquad, dtype: int64

In [3]:
(109+97+33+24+21)/5

56.8

In [4]:
cancercopy2['Breastquad'][205] = "left_low"
cancercopy2.head(207)

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Class,Age,Menopause,TumorSize,invnodes,Nodecaps,Degmalig,Breast,Breastquad,Irradiate
0,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
2,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
3,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
4,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
...,...,...,...,...,...,...,...,...,...,...
202,recurrence-events,50-59,ge40,35-39,0-2,no,2,left,left_low,no
203,recurrence-events,50-59,premeno,25-29,0-2,no,2,left,right_up,no
204,recurrence-events,30-39,premeno,0-4,0-2,no,2,right,central,no
205,recurrence-events,50-59,ge40,30-34,0-2,no,3,left,left_low,no
206,recurrence-events,50-59,premeno,25-29,0-2,no,2,left,right_up,no

In [5]:
cancercopy2.Breastquad.value_counts()

left_low     110
left_up       97
right_up      33
right_low     24
central       21
Name: Breastquad, dtype: int64

In [6]:
cancercopy2[pd.isna(cancercopy2["Nodecaps"])==True].index.values

array([144, 162, 163, 182, 183, 232, 262, 263], dtype=int64)

In [7]:
cancercopy2[pd.isna(cancercopy2["Class"])==True].index.values

array([], dtype=int64)

In [8]:
cancercopy2[pd.isna(cancercopy2["Age"])==True].index.values

array([], dtype=int64)

In [9]:
cancercopy2[pd.isna(cancercopy2["Menopause"])==True].index.values

array([], dtype=int64)

In [10]:
cancercopy2[pd.isna(cancercopy2["TumorSize"])==True].index.values

array([], dtype=int64)

In [11]:
cancercopy2[pd.isna(cancercopy2["invnodes"])==True].index.values

array([], dtype=int64)

In [12]:
cancercopy2[pd.isna(cancercopy2["Degmalig"])==True].index.values

array([], dtype=int64)

In [13]:
cancercopy2[pd.isna(cancercopy2["Breast"])==True].index.values

array([], dtype=int64)

In [14]:
cancercopy2[pd.isna(cancercopy2["Breastquad"])==True].index.values

array([], dtype=int64)

In [15]:
# count = 0
# counter = 0
# for i in cancercopy2[pd.isna(cancercopy2["Nodecaps"])==False].index.values:
#     if cancercopy2["Nodecaps"][i] == "no":
#         if cancercopy2["Degmalig"][i] <2:
#             if cancercopy2["Class"][i] =="no-recurrence-events":
#                 count+=1
#             else:
#                 counter+=1
# print(count)
# print(counter)

In [16]:
# cancercopy2.describe()

In [17]:
cancercopy2[pd.isna(cancercopy2["Irradiate"])==True].index.values

array([], dtype=int64)

In [18]:
for i in cancercopy2[pd.isna(cancercopy2["Nodecaps"])==True].index.values:
    print(i)

144
162
163
182
183
232
262
263

In [19]:
for i in cancercopy2[pd.isna(cancercopy2["Nodecaps"])==True].index.values:
    print(cancercopy2["Degmalig"][i])

2
1
1
3
3
1
1
1

In [20]:
for i in cancercopy2[pd.isna(cancercopy2["Nodecaps"])==True].index.values:
    if cancercopy2["Degmalig"][i]>=2:
        cancercopy2["Nodecaps"][i] = "yes"
        print( cancercopy2["Nodecaps"][i])
    else:
        cancercopy2["Nodecaps"][i] = "no"
        print( cancercopy2["Nodecaps"][i])

yes
no
no
yes
yes
no
no
no

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
print("Class Data:\n",cancercopy2.Class.value_counts())
print("Age Data:\n",cancercopy2.Age.value_counts())
print("Menopause Data:\n",cancercopy2.Menopause.value_counts())
print("Tumorsize Data:\n",cancercopy2.TumorSize.value_counts())
print("invnodes Data:\n",cancercopy2.invnodes.value_counts())
print("Nodecaps Data:\n",cancercopy2.Nodecaps.value_counts())
print("Breast Data:\n",cancercopy2.Breast.value_counts())
print("Breastquad Data:\n",cancercopy2.Breastquad.value_counts())
print("Irradiate Data:\n",cancercopy2.Irradiate.value_counts())

Class Data:
 no-recurrence-events    200
recurrence-events        85
Name: Class, dtype: int64
Age Data:
 50-59    96
40-49    90
60-69    57
30-39    35
70-79     6
20-29     1
Name: Age, dtype: int64
Menopause Data:
 premeno    149
ge40       129
lt40         7
Name: Menopause, dtype: int64
Tumorsize Data:
 30-34    59
25-29    54
20-24    50
15-19    30
10-14    28
40-44    22
35-39    19
50-54     8
0-4       8
5-9       4
45-49     3
Name: TumorSize, dtype: int64
invnodes Data:
 0-2      212
3-5       36
6-8       17
9-11      10
15-17      6
12-14      3
24-26      1
Name: invnodes, dtype: int64
Nodecaps Data:
 no     226
yes     59
Name: Nodecaps, dtype: int64
Breast Data:
 left     151
right    134
Name: Breast, dtype: int64
Breastquad Data:
 left_low     110
left_up       97
right_up      33
right_low     24
central       21
Name: Breastquad, dtype: int64
Irradiate Data:
 no     217
yes     68
Name: Irradiate, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()

In [23]:
cancercopy2["Class"] = encode.fit_transform(cancercopy2["Class"])
cancercopy2["Age"] = encode.fit_transform(cancercopy2["Age"])
cancercopy2["Menopause"] = encode.fit_transform(cancercopy2["Menopause"])
cancercopy2["TumorSize"] = encode.fit_transform(cancercopy2["TumorSize"])
cancercopy2["invnodes"] = encode.fit_transform(cancercopy2["invnodes"])
cancercopy2["Nodecaps"] = encode.fit_transform(cancercopy2["Nodecaps"])
cancercopy2["Breast"] = encode.fit_transform(cancercopy2["Breast"])
cancercopy2["Breastquad"] = encode.fit_transform(cancercopy2["Breastquad"])
cancercopy2["Irradiate"] = encode.fit_transform(cancercopy2["Irradiate"])

In [24]:
cancercopy2.head(165)

,Class,Age,Menopause,TumorSize,invnodes,Nodecaps,Degmalig,Breast,Breastquad,Irradiate
0,0,2,2,3,0,0,2,1,4,0
1,0,2,2,3,0,0,2,0,1,0
2,0,4,0,2,0,0,2,1,2,0
3,0,2,2,0,0,0,2,1,3,0
4,0,4,0,2,0,0,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...
160,0,2,2,5,4,1,2,1,1,0
161,0,4,0,1,0,0,2,1,2,1
162,0,4,0,4,4,0,1,1,2,1
163,0,4,0,4,4,0,1,1,1,1
164,0,2,2,3,4,0,2,1,2,0

In [25]:
cancercopy2.shape

(285, 10)

In [26]:
cancer.shape

(285, 10)

In [27]:
cancercopy2.describe()

,Class,Age,Menopause,TumorSize,invnodes,Nodecaps,Degmalig,Breast,Breastquad,Irradiate
count,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000
mean,0.298246,2.670175,1.070175,4.059649,1.077193,0.207018,2.045614,0.470175,1.782456,0.238596
std,0.458293,1.008758,0.986880,2.154251,1.937675,0.405881,0.737351,0.499988,1.088532,0.426975
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,3.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000
50%,0.000000,3.000000,2.000000,4.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000
75%,1.000000,3.000000,2.000000,5.000000,1.000000,0.000000,3.000000,1.000000,2.000000,0.000000
max,1.000000,5.000000,2.000000,10.000000,6.000000,1.000000,3.000000,1.000000,4.000000,1.000000

In [28]:
cancercopy2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Class       285 non-null    int32
 1   Age         285 non-null    int32
 2   Menopause   285 non-null    int32
 3   TumorSize   285 non-null    int32
 4   invnodes    285 non-null    int32
 5   Nodecaps    285 non-null    int32
 6   Degmalig    285 non-null    int64
 7   Breast      285 non-null    int32
 8   Breastquad  285 non-null    int32
 9   Irradiate   285 non-null    int32
dtypes: int32(9), int64(1)
memory usage: 12.4 KB

In [29]:
corr_matrix = cancercopy2.corr()
corr_matrix.Irradiate.sort_values(ascending = False)

Irradiate     1.000000
invnodes      0.381977
Nodecaps      0.343837
Degmalig      0.211362
Class         0.192887
TumorSize     0.160565
Menopause     0.043687
Breast        0.016957
Breastquad    0.013584
Age          -0.045551
Name: Irradiate, dtype: float64

In [30]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(cancercopy2, test_size = 0.2, random_state =42)
print(len(train_set))
print(len(test_set))

228
57

In [31]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)
for train_index, test_index in split.split(cancercopy2["Nodecaps"], cancercopy2["Irradiate"], cancercopy2["Class"]):
    strat_train_set = cancercopy2.reindex(train_index)
    strat_test_set = cancercopy2.reindex(test_index)

In [32]:
strat_train_set.Nodecaps.value_counts()

0    182
1     46
Name: Nodecaps, dtype: int64

In [33]:
strat_test_set.Nodecaps.value_counts()

0    44
1    13
Name: Nodecaps, dtype: int64

In [34]:
print(182/46)
print(44/13)

3.9565217391304346
3.3846153846153846

In [35]:
strat_train_set.Irradiate.value_counts()

0    174
1     54
Name: Irradiate, dtype: int64

In [36]:
strat_test_set.Irradiate.value_counts()

0    43
1    14
Name: Irradiate, dtype: int64

In [37]:
print(174/54)
print(43/14)

3.2222222222222223
3.0714285714285716

In [38]:
strat_train_set.Class.value_counts()

0    162
1     66
Name: Class, dtype: int64

In [39]:
strat_test_set.Class.value_counts()

0    38
1    19
Name: Class, dtype: int64

In [40]:
print(162/66)
print(38/19)

2.4545454545454546
2.0

In [41]:
breast_num = strat_train_set.drop("Irradiate", axis = 1)
breast_labels = strat_train_set["Irradiate"].copy()
breast_num_test = strat_test_set.drop("Irradiate", axis = 1)
breast_labels_test = strat_test_set["Irradiate"].copy()

In [42]:
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
model = XGBClassifier(random_state = 5, learning_rate =1,)
# model = RandomForestClassifier()
# model = DecisionTreeClassifier()

In [43]:
breast_num_arr = breast_num.to_numpy()
breast_labels_arr = breast_labels.to_numpy()
breast_num_test_arr = breast_num_test.to_numpy()
breast_labels_test_arr = breast_labels_test.to_numpy()

In [44]:
model.fit(breast_num_arr, breast_labels_arr)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=1, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=5, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [45]:
# some_data = breast_num.iloc[:5]
# some_labels = breast_labels.iloc[:5]

In [46]:
y_predict = model.predict(breast_num_arr)
y_predict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1])

In [47]:
list(breast_labels_arr)

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1]

In [48]:
from sklearn.metrics import accuracy_score
print(accuracy_score(breast_labels_arr, y_predict))

0.9912280701754386

In [49]:
y_train_predict = model.predict(breast_num_test_arr)
print(accuracy_score(breast_labels_test_arr, y_train_predict))

0.7543859649122807

In [50]:
pd.crosstab(breast_labels_arr, y_predict)

col_0    0   1
row_0
0      174   0
1        2  52

In [51]:
pd.crosstab(breast_labels_test_arr, y_train_predict)

col_0   0  1
row_0
0      36  7
1       7  7

In [52]:
from joblib import dump, load
dump(model, "Breast Cancer Detection.joblib")

['Breast Cancer Detection.joblib']

In [53]:
strat_train_set.head(2)

,Class,Age,Menopause,TumorSize,invnodes,Nodecaps,Degmalig,Breast,Breastquad,Irradiate
13,0,2,2,5,0,0,3,0,2,0
28,0,4,0,5,0,0,2,0,1,0

In [54]:
breast_num

,Class,Age,Menopause,TumorSize,invnodes,Nodecaps,Degmalig,Breast,Breastquad
13,0,2,2,5,0,0,3,0,2
28,0,4,0,5,0,0,2,0,1
93,0,3,2,1,0,0,1,0,1
26,0,4,0,4,0,0,3,1,2
11,0,4,1,1,0,0,1,0,4
...,...,...,...,...,...,...,...,...,...
65,0,2,2,4,0,0,1,1,3
83,0,2,2,3,0,0,1,0,3
139,0,3,0,7,4,1,2,0,1
135,0,1,2,7,4,0,3,1,4
234,1,3,2,4,4,1,3,0,1

In [56]:
strat_train_set.head(50)

,Class,Age,Menopause,TumorSize,invnodes,Nodecaps,Degmalig,Breast,Breastquad,Irradiate
13,0,2,2,5,0,0,3,0,2,0
28,0,4,0,5,0,0,2,0,1,0
93,0,3,2,1,0,0,1,0,1,0
26,0,4,0,4,0,0,3,1,2,0
11,0,4,1,1,0,0,1,0,4,0
165,0,2,2,3,4,0,2,1,1,0
114,0,3,0,3,0,0,2,1,2,0
267,1,1,2,6,0,0,3,0,1,0
125,0,1,2,5,5,1,2,1,4,0
128,0,2,2,6,6,1,2,1,2,1
219,1,2,2,4,0,0,3,0,4,0
249,1,2,2,4,0,0,3,0,2,0
96,0,4,0,2,0,0,2,1,2,0
271,1,2,2,2,0,1,3,1,2,0
42,0,2,2,1,0,0,2,0,2,0
122,0,3,0,5,0,0,1,1,1,0
9,0,2,2,0,0,0,3,0,0,0
22,0,3,2,7,0,0,2,0,2,0
80,0,4,0,1,0,0,1,0,2,0
29,0,3,0,7,0,0,3,1,2,0
160,0,2,2,5,4,1,2,1,1,0
154,0,4,0,7,4,0,2,1,2,1
110,0,3,0,2,0,0,1,1,0,0
8,0,2,2,3,0,0,2,1,2,0
272,1,4,0,5,0,1,2,1,4,1
150,0,4,0,5,4,1,3,0,1,0
10,0,3,0,4,0,0,2,0,1,0
84,0,3,0,6,0,0,3,0,2,0
194,0,3,0,6,0,0,2,0,2,0
40,0,4,0,4,0,0,2,0,1,0
210,1,3,0,3,0,0,2,1,0,0
143,0,4,0,8,5,1,3,0,0,0
140,0,3,2,3,4,1,2,0,1,0
70,0,2,2,4,0,0,2,1,2,0
62,0,0,2,6,0,0,2,1,4,0
39,0,3,0,3,0,0,1,1,1,0
197,0,3,0,2,0,1,2,0,0,1
35,0,3,0,0,0,0,2,0,0,0
190,0,2,2,4,0,0,2,0,2,1
282,1,4,0,3,0,0,1,1,2,0
53,0,5,0,7,0,0,1,1,2,0
17,0,4,0,5,0,0,3,0,1,0
81,0,4,0,2,0,0,2,1,1,0
239,1,4,0,3,4,0,2,0,1,1
167,0,3,2,1,0,0,2,1,2,0
265,1,2,2,5,4,1,2,0,4,0
153,0,1,1,2,0,0,3,1,2,0
178,0,2,2,3,0,0,3,1,1,1
146,0,3,2,5,4,1,2,0,1,1
108,0,4,0,5,0,0,1,1,2,0